footer {
    background-color: $color-principal;
    text-align: center;
    color: $color-cuarto;

    img {
        width: 50px;
    }

    h2 {
        font-size: nth($font-size, 3);
    }

    p {
        font-size: nth($font-size, 3);
    }

    label {
        font-size: nth($font-size, 3);
    }

    input {
        font-size: nth($font-size, 1);
        margin: nth($font-size, 1);
    }
}