header {
    background-color: $color-principal;
    top: 0;
    z-index: 1;
    position: sticky;

    h1 {
        font-size: nth($font-size, 6);
    }
}

.fixed-top {
    position: sticky;
}

.navbar {
    background-color: $color-principal !important;
}

.navbar-brand {
    font-size: nth($font-size, 6);
}

.offcanvas {
    background-color: $color-principal !important;
    font-size: nth($font-size, 4);
    top: 0;
}

.offcanvas-body {
    z-index: 1;
}