main {
    padding: top 90px;

    h3 {
        font-size: 30px;
    }

    a {
        font-size: 30px;
    }

    div {
        p {
            font-size: 30px;
        }
    }
}

.carrusel {
    div {
        z-index: 0;

        img {
            object-fit: cover;
            width: 100%;
            height: 900px;
        }
    }
}

.info {
    color: $color-cuarto;
    text-align: center;
    font-size: 40px;
    margin: 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 50px;
        display: inline-block;
        padding: 10px;
        margin: 10px 10px;

        &::first-line {
            color: $color-cuarto;
            font-size: 75px;
            font-style: oblique;
        }
    }

    p {
        font-size: 40px;
    }

    h3 {
        font-size: 60px;
    }

    a {
        text-decoration: none;
        color: $color-cuarto;
        background-color: $color-principal;
        border-radius: 10px;
        padding: 5px;
    }
}

.productos {
    h2 {
        font-size: 50px;
        text-align: center;
        background-color: $color-terciario;
        color: $color-cuarto;
        margin: 50px 0px;
    }

    div {
        img {
            width: 300px;
            height: 300px;
            border: solid $color-sexto;
            border-radius: 20px;
        }

        a {
            text-decoration: none;
            color: $color-cuarto;
            font-size: 20px;
            background-color: $color-quinto;
            border: solid $color-sexto;
            border-radius: 10px;
            padding: 5px;

            &:hover {
                background-color: $color-alternativo;
            }
        }
    }

    .productos-menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;

        div {
            text-align: center;
            color: $color-cuarto;
            background-color: $color-terciario;
            border: solid $color-sexto;
            border-radius: 10px;
            width: 325px;
            margin: 30px 20px;
            padding: 10px;

            &:hover {
                background-color: $color-septimo;
            }

            p {
                font-size: 20px;
                text-align: left;
            }

            a {
                text-decoration: none;
                color: $color-cuarto;
                font-size: 20px;
                background-color: $color-quinto;
                border: solid $color-sexto;
                border-radius: 10px;
                padding: 5px;

                &:hover {
                    background-color: $color-alternativo;
                }
            }

            h3 {
                background-color: $color-quinto;
                border-radius: 10px;
            }

            h4 {
                font-size: 50px;
            }
        }
    }
}

.wsp {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 1;

    img {
        width: 64px;
        height: 64px;
    }
}

.grid-galeria {
    display: grid;
    margin: 50px;
    grid-template-columns: repeat(2, 400px);
    grid-auto-rows: 350px;
    justify-items: center;
    justify-content: center;
    gap: 50px;

    div {
        img {
            width: 100%;
            height: 100%;
        }
    }

    .grid-item {
        border: solid 2px $color-principal;
        position: relative;

        h2 {
            position: absolute;
            bottom: 0;
            background-color: $color-principal;
            color: $color-cuarto;
            width: 100%;
            text-align: center;
            font-size: 20px;
        }

        .img-3 {
            grid-column: span 2;
        }
    }
}