//* VARIABLES
$color-principal: black;
$color-secundario: rgba(0, 0, 0, 0.068);
$color-terciario: rgb(45, 2, 146);
$color-alternativo: rgb(109, 2, 8);
$color-cuarto: white;
$color-quinto: rgb(9, 8, 56);
$color-sexto: rgba(0, 0, 0, 0.048);
$color-septimo: rgb(111, 52, 250);

//* LISTAS
$colores:
black,
white,
rgba(0, 0, 0, 0.068),
rgb(45, 2, 146),
rgb(109, 2, 8);

$font-size:
20px,
30px,
40px,
50px,
60px,
100px;

//* EXTENDS
%boton{
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: rgb(9, 8, 56);
    border: solid rgba(0, 0, 0, 0.048);
    border-radius: 10px;
    padding: 5px;
}
